In [1]:
import pandas as pd

In [4]:
titanic = pd.read_csv("titanic.csv")

In [43]:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
class_23

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [48]:
adult_name = titanic.loc[titanic["Age"] > 35 , "Name"]
adult_name

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
6                                McCarthy, Mr. Timothy J
11                               Bonnell, Miss Elizabeth
13                           Andersson, Mr. Anders Johan
15                      Hewlett, Mrs. (Mary D Kingcome)
                             ...
865                             Bystrom, Mrs. (Karolina)
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
873                          Vander Cruyssen, Mr. Victor
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
885                 Rice, Mrs. William (Margaret Norton)
Name: Name, Length: 217, dtype: object

In [52]:
titanic.iloc[0:500, 3] = "ANonymous"
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,ANonymous,male,ANonymous,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,ANonymous,female,ANonymous,1,0,PC 17599,71.2833,C85,C
2,3,1,3,ANonymous,female,ANonymous,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,ANonymous,female,ANonymous,1,0,113803,53.1000,C123,S
4,5,0,3,ANonymous,male,ANonymous,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [1]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\saad9\appdata\local\programs\python\python312\lib\site-packages (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\saad9\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\saad9\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\saad9\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\saad9\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\saad9\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\saad9\appdata\roaming\python\python312\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\saad9\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\saad9\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\saad9\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\saad9\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [55]:
import matplotlib.pyplot as plt

In [2]:
air_qualit = pd.read_csv("air_quality_no2.csv")

In [3]:
pip install -U scikit-learn

Collecting scikit-learnNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading scikit_learn-1.5.1-cp312-cp312-win_amd64.whl.metadata (12 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\saad9\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.0.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.8 kB ? eta -:--:--
     ------------------------- ------------ 41.0/60.8 kB 388.9 kB/s eta 0:00:01
     -------------------------------------- 60.8/60.8 kB 459.3 kB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.1-cp312-cp312-win_amd64.whl (10.9 MB)
   ---------------------------------------- 0.0/10.9 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.9 MB 2.0 MB/s eta 0:00:06
   ---------------------------------------- 0.1/10.9 MB 1.1 MB/s eta 0:00:11
    --------------------------------------- 0.2/10.9 MB 2.1 MB/s eta 0:00:06
   - -------------------------------------- 0.3/10.9 MB 1.8 MB/s eta 0:00:07
   - -------------------------------------- 0.5/10.9 MB 2.4 MB/s eta 0:00:05
   -- ------------------------------------- 0.6/10.9 MB 2.5 MB/s eta 0:00:05
   --- ------------------------------------ 1.0/10.9 MB 3.6 MB/s eta 0:00:03
   ---- ----------------------------------- 1.2/10.9 MB 3.7 MB/s eta 0:00:03
   ------- -------------------------------- 2.0/10.9 MB 5.6 MB/s eta 0:00:02
   -------- ------------------------------- 2.4/10.9 MB 5.8 MB/s eta 0:00:02
   --------- ------------------------------ 2.6/10.9 MB 6.0 MB/s eta 0:00:02
   --------- ------------------------------ 2.6/10.9 MB 6.0 MB/s eta 0:00:02
   -------------- ------------------------- 3.9/10.9 MB 7.3 MB/s eta 0:00:01
   ----------------- ---------------------- 4.7/10.9 MB 8.4 MB/s eta 0:00:01
   ------------------ --------------------- 5.0/10.9 MB 7.9 MB/s eta 0:00:01
   ---------------------- ----------------- 6.0/10.9 MB 9.2 MB/s eta 0:00:01
   ------------------------- -------------- 7.0/10.9 MB 9.9 MB/s eta 0:00:01
   ---------------------------- ----------- 7.7/10.9 MB 10.5 MB/s eta 0:00:01
   ------------------------------ --------- 8.2/10.9 MB 10.7 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/10.9 MB 10.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.3/10.9 MB 11.0 MB/s eta 0:00:01
   --------------------------------- ------ 9.3/10.9 MB 11.0 MB/s eta 0:00:01
   --------------------------------- ------ 9.3/10.9 MB 11.0 MB/s eta 0:00:01
   ----------------------------------- ---- 9.8/10.9 MB 10.1 MB/s eta 0:00:01
   -------------------------------------- - 10.6/10.9 MB 12.1 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.9 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------  10.9/10.9 MB 12.4 MB/s eta 0:00:01
   ---------------------------------------- 10.9/10.9 MB 11.9 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   ---------------------------------------- 301.8/301.8 kB 9.4 MB/s eta 0:00:00
Downloading scipy-1.14.0-cp312-cp312-win_amd64.whl (44.5 MB)
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
    --------------------------------------- 1.0/44.5 MB 30.7 MB/s eta 0:00:02
   - -------------------------------------- 1.5/44.5 MB 19.2 MB/s eta 0:00:03
   -- ------------------------------------- 2.2/44.5 MB 17.9 MB/s eta 0:00:03
   -- ------------------------------------- 2.8/44.5 MB 17.9 MB/s eta 0:00:03
   --- ------------------------------------ 3.5/44.5 MB 18.8 MB/s eta 0:00:03
   --- ------------------------------------ 4.2/44.5 MB 17.7 MB/s eta 0:00:03
   ---- ----------------------------------- 5.1/44.5 MB 17.3 MB/s eta 0:00:03
   ---- ----------------------------------- 5.2/44.5 MB 16.7 MB/s eta 0:00:03
   ---- ----------------------------------- 5.2/44.5 MB 16.7 MB/s eta 0:00:03
   ---- ----------------------------------- 5.2/44.5 MB 16.7 MB/s eta 0:00:03
   ------ --------------------------------- 7.1/44.5 MB 15.7 MB/s eta 0:00:03
   ------ --------------------------------- 7.6/44.5 MB 15.3 MB/s eta 0:00:03
   ------- -------------------------------- 8.1/44.5 MB 14.8 MB/s eta 0:00:03
   ------- -------------------------------- 8.6/44.5 MB 14.4 MB/s eta 0:00:03
   -------- ------------------------------- 9.1/44.5 MB 14.5 MB/s eta 0:00:03
   -------- ------------------------------- 9.5/44.5 MB 14.2 MB/s eta 0:00:03
   --------- ------------------------------ 10.0/44.5 MB 14.2 MB/s eta 0:00:03
   --------- ------------------------------ 10.5/44.5 MB 13.6 MB/s eta 0:00:03
   --------- ------------------------------ 11.0/44.5 MB 13.6 MB/s eta 0:00:03
   ---------- ----------------------------- 11.5/44.5 MB 13.1 MB/s eta 0:00:03
   ---------- ----------------------------- 12.1/44.5 MB 13.1 MB/s eta 0:00:03
   ----------- ---------------------------- 12.4/44.5 MB 12.6 MB/s eta 0:00:03
   ----------- ---------------------------- 12.7/44.5 MB 12.4 MB/s eta 0:00:03
   ----------- ---------------------------- 13.1/44.5 MB 12.1 MB/s eta 0:00:03
   ------------ --------------------------- 13.4/44.5 MB 11.7 MB/s eta 0:00:03
   ------------ --------------------------- 14.1/44.5 MB 11.7 MB/s eta 0:00:03
   ------------ --------------------------- 14.4/44.5 MB 11.7 MB/s eta 0:00:03
   ------------- -------------------------- 14.9/44.5 MB 11.3 MB/s eta 0:00:03
   ------------- -------------------------- 15.5/44.5 MB 12.8 MB/s eta 0:00:03
   -------------- ------------------------- 15.8/44.5 MB 12.4 MB/s eta 0:00:03
   -------------- ------------------------- 16.4/44.5 MB 11.7 MB/s eta 0:00:03
   --------------- ------------------------ 16.9/44.5 MB 11.3 MB/s eta 0:00:03
   --------------- ------------------------ 17.6/44.5 MB 11.1 MB/s eta 0:00:03
   ---------------- ----------------------- 18.0/44.5 MB 11.1 MB/s eta 0:00:03
   ---------------- ----------------------- 18.6/44.5 MB 11.1 MB/s eta 0:00:03
   ---------------- ----------------------- 18.9/44.5 MB 10.9 MB/s eta 0:00:03
   ----------------- ---------------------- 19.1/44.5 MB 10.9 MB/s eta 0:00:03
   ----------------- ---------------------- 19.6/44.5 MB 10.7 MB/s eta 0:00:03
   ------------------ --------------------- 20.0/44.5 MB 10.6 MB/s eta 0:00:03
   ------------------ --------------------- 20.6/44.5 MB 10.7 MB/s eta 0:00:03
   ------------------ --------------------- 21.0/44.5 MB 10.7 MB/s eta 0:00:03
   ------------------- -------------------- 21.4/44.5 MB 10.4 MB/s eta 0:00:03
   ------------------- -------------------- 21.9/44.5 MB 10.7 MB/s eta 0:00:03
   -------------------- ------------------- 22.3/44.5 MB 10.6 MB/s eta 0:00:03
   -------------------- ------------------- 23.0/44.5 MB 11.1 MB/s eta 0:00:02
   --------------------- ------------------ 23.4/44.5 MB 11.3 MB/s eta 0:00:02
   --------------------- ------------------ 24.0/44.5 MB 11.3 MB/s eta 0:00:02
   ---------------------- ----------------- 24.5/44.5 MB 11.1 MB/s eta 0:00:02
   ---------------------- ----------------- 24.9/44.5 MB 11.5 MB/s eta 0:00:02
   ---------------------- ----------------- 25.6/44.5 MB 11.3 MB/s eta 0:00:02
   ----------------------- ---------------- 25.9/44.5 MB 11.3 MB/s eta 0:00:02
   ----------------------- ---------------- 26.2/44.5 MB 11.3 MB/s eta 0:00:02
   ----------------------- ---------------- 26.7/44.5 MB 11.1 MB/s eta 0:00:02
   ------------------------ --------------- 27.0/44.5 MB 11.1 MB/s eta 0:00:02
   ------------------------ --------------- 27.4/44.5 MB 10.9 MB/s eta 0:00:02
   ------------------------- -------------- 28.0/44.5 MB 10.7 MB/s eta 0:00:02
   ------------------------- -------------- 28.3/44.5 MB 10.7 MB/s eta 0:00:02
   ------------------------- -------------- 28.7/44.5 MB 10.6 MB/s eta 0:00:02
   -------------------------- ------------- 29.2/44.5 MB 10.7 MB/s eta 0:00:02
   -------------------------- ------------- 29.4/44.5 MB 10.7 MB/s eta 0:00:02
   -------------------------- ------------- 29.8/44.5 MB 10.6 MB/s eta 0:00:02
   --------------------------- ------------ 30.5/44.5 MB 10.9 MB/s eta 0:00:02
   --------------------------- ------------ 30.9/44.5 MB 10.9 MB/s eta 0:00:02
   ---------------------------- ----------- 31.5/44.5 MB 11.1 MB/s eta 0:00:02
   ---------------------------- ----------- 31.9/44.5 MB 10.9 MB/s eta 0:00:02
   ----------------------------- ---------- 32.4/44.5 MB 11.1 MB/s eta 0:00:02
   ----------------------------- ---------- 32.9/44.5 MB 11.1 MB/s eta 0:00:02
   ------------------------------ --------- 33.5/44.5 MB 11.3 MB/s eta 0:00:01
   ------------------------------ --------- 33.8/44.5 MB 11.1 MB/s eta 0:00:01
   ------------------------------- -------- 34.5/44.5 MB 11.1 MB/s eta 0:00:01
   ------------------------------- -------- 34.9/44.5 MB 11.1 MB/s eta 0:00:01
   ------------------------------- -------- 35.5/44.5 MB 11.3 MB/s eta 0:00:01
   -------------------------------- ------- 36.0/44.5 MB 11.1 MB/s eta 0:00:01
   -------------------------------- ------- 36.6/44.5 MB 11.5 MB/s eta 0:00:01
   --------------------------------- ------ 36.9/44.5 MB 11.3 MB/s eta 0:00:01
   --------------------------------- ------ 37.7/44.5 MB 11.9 MB/s eta 0:00:01
   ---------------------------------- ----- 37.9/44.5 MB 11.9 MB/s eta 0:00:01
   ---------------------------------- ----- 38.5/44.5 MB 11.7 MB/s eta 0:00:01
   ----------------------------------- ---- 39.0/44.5 MB 12.1 MB/s eta 0:00:01
   ----------------------------------- ---- 39.6/44.5 MB 12.4 MB/s eta 0:00:01
   ------------------------------------ --- 40.0/44.5 MB 12.4 MB/s eta 0:00:01
   ------------------------------------ --- 40.6/44.5 MB 12.4 MB/s eta 0:00:01
   ------------------------------------- -- 41.2/44.5 MB 12.6 MB/s eta 0:00:01
   ------------------------------------- -- 41.7/44.5 MB 12.4 MB/s eta 0:00:01
   -------------------------------------- - 42.3/44.5 MB 12.6 MB/s eta 0:00:01
   -------------------------------------- - 42.8/44.5 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------  43.4/44.5 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------  43.9/44.5 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------  44.5/44.5 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------  44.5/44.5 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------- 44.5/44.5 MB 11.3 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.1 scipy-1.14.0 threadpoolctl-3.5.0